<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Events ANY>
<!ATTLIST Events id ID #REQUIRED>
<!ELEMENT VenuesOwner ANY>
<!ATTLIST VenuesOwner id ID #REQUIRED>
<!ELEMENT Entities ANY>
<!ATTLIST Entities id ID #REQUIRED>
<!ELEMENT Dashboard ANY>
<!ATTLIST Dashboard id ID #REQUIRED>
<!ELEMENT Event ANY>
<!ATTLIST Event id ID #REQUIRED>
<!ELEMENT NestedDataTypes ANY>
<!ATTLIST NestedDataTypes id ID #REQUIRED>
<!ELEMENT settings ANY>
<!ATTLIST settings id ID #REQUIRED>
<!ELEMENT cities ANY>
<!ATTLIST cities id ID #REQUIRED>
<!ELEMENT city ANY>
<!ATTLIST city id ID #REQUIRED>
<!ELEMENT Venue ANY>
<!ATTLIST Venue id ID #REQUIRED>
<!ELEMENT Shops ANY>
<!ATTLIST Shops id ID #REQUIRED>
<!ELEMENT standardRTE ANY>
<!ATTLIST standardRTE id ID #REQUIRED>
<!ELEMENT Themes ANY>
<!ATTLIST Themes id ID #REQUIRED>
<!ELEMENT Theme ANY>
<!ATTLIST Theme id ID #REQUIRED>
<!ELEMENT Questions ANY>
<!ATTLIST Questions id ID #REQUIRED>
<!ELEMENT Question ANY>
<!ATTLIST Question id ID #REQUIRED>
<!ELEMENT QuestionList ANY>
<!ATTLIST QuestionList id ID #REQUIRED>
<!ELEMENT GovernmentEntities ANY>
<!ATTLIST GovernmentEntities id ID #REQUIRED>
<!ELEMENT EventOrganizers ANY>
<!ATTLIST EventOrganizers id ID #REQUIRED>
<!ELEMENT VenueOwners ANY>
<!ATTLIST VenueOwners id ID #REQUIRED>
<!ELEMENT GovernmentEntity ANY>
<!ATTLIST GovernmentEntity id ID #REQUIRED>
<!ELEMENT Organizer ANY>
<!ATTLIST Organizer id ID #REQUIRED>
<!ELEMENT contactInfo ANY>
<!ATTLIST contactInfo id ID #REQUIRED>
<!ELEMENT specialOccasions ANY>
<!ATTLIST specialOccasions id ID #REQUIRED>
<!ELEMENT eventOccurances ANY>
<!ATTLIST eventOccurances id ID #REQUIRED>
<!ELEMENT Shop ANY>
<!ATTLIST Shop id ID #REQUIRED>
<!ELEMENT Venues ANY>
<!ATTLIST Venues id ID #REQUIRED>
<!ELEMENT About ANY>
<!ATTLIST About id ID #REQUIRED>
<!ELEMENT SignIn ANY>
<!ATTLIST SignIn id ID #REQUIRED>
<!ELEMENT SignUp ANY>
<!ATTLIST SignUp id ID #REQUIRED>
]>
<root id="-1">
  <Home id="1058" key="335e7ec5-7e2c-4c31-b1b8-d81ff66c2b81" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2018-11-27T11:41:49" updateDate="2018-12-17T17:33:32" nodeName="AR" urlName="ar" path="-1,1058" isDoc="" nodeType="1052" creatorName="Amit" writerName="Amit" writerID="0" template="3072" nodeTypeAlias="Home" isPublished="true">
    <umbracoNaviHide>0</umbracoNaviHide>
    <Events id="1059" key="5fb2466d-6fa2-4db3-9235-4ff311e35ca5" parentID="1058" level="2" creatorID="0" sortOrder="0" createDate="2018-11-27T11:47:12" updateDate="2018-12-13T17:27:30" nodeName="Events" urlName="events" path="-1,1058,1059" isDoc="" nodeType="1053" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Events" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Event id="4147" key="dd41a453-ca31-40f9-a19c-3f4924762b33" parentID="1059" level="3" creatorID="0" sortOrder="1" createDate="2018-12-12T10:29:20" updateDate="2019-01-17T12:41:08" nodeName="Test Event" urlName="test-event" path="-1,1058,1059,4147" isDoc="" nodeType="1057" creatorName="Amit" writerName="Amit" writerID="0" template="3072" nodeTypeAlias="Event" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <eventContentsArabic><![CDATA[<p><strong>Test arabic contents</strong></p>]]></eventContentsArabic>
        <eventTags><![CDATA[["testtag"]]]></eventTags>
        <eventContents><![CDATA[<p>Test english contents.</p>]]></eventContents>
        <eventNameArabic><![CDATA[Test Arabic]]></eventNameArabic>
        <eventVideo><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></eventVideo>
        <eventVideoArabic><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></eventVideoArabic>
        <eventName><![CDATA[Test English]]></eventName>
        <eventWebsite><![CDATA[www.Roznamah.com]]></eventWebsite>
        <eventOrganizer><![CDATA[umb://document/e22d714f51734cbca2e10a5de645acb0]]></eventOrganizer>
        <eventStatus>33</eventStatus>
        <audiences>36</audiences>
        <eventThumbnail><![CDATA[/media/1009/13696532_1249192418444366_1712311139_n.jpg]]></eventThumbnail>
        <eventOccurance><![CDATA[[{"key":"9907d58f-b18c-4325-a7f5-17c115dfd617","name":"Item 1","ncContentTypeAlias":"eventOccurances","eventOccurance":"{\"city\":\"1084\",\"venue\":\"2071\",\"date\":{\"from\":\"2019-01-25\",\"to\":\"2019-01-30\"},\"time\":{\"from\":\"14:32\",\"to\":\"02:33\"},\"location\":\"test5\"}"}]]]></eventOccurance>
        <tickets><![CDATA[{"isFreeTickets":false,"ticketHasPrice":"single","singleTicketPrice":21,"ticketPriceRange":{"priceStart":0,"priceUpTo":0},"onlineTickets":false,"onlineTicketUrl":"www.purchaseonline.com","offlineTickets":"single","isAvailableAtEventGate":false,"isAvailableAtShops":"single","shopName":"4119"}]]></tickets>
        <pName><![CDATA[Logo title English]]></pName>
        <offerDescriptionArabic><![CDATA[<p>Offer Description arabic</p>]]></offerDescriptionArabic>
        <promotionLogo><![CDATA[/media/1010/4.jpg]]></promotionLogo>
        <offerDescription><![CDATA[<p>Offer description English</p>]]></offerDescription>
        <promotionDuration><![CDATA[2018-12-11T00:00:00,2018-12-14T23:59:59]]></promotionDuration>
        <pNameArabic><![CDATA[Logo title Arabic]]></pNameArabic>
        <amenitiesArabic><![CDATA[amenities ar 1
amenities ar 2]]></amenitiesArabic>
        <activitiesArabic><![CDATA[test Activities ar 1
test Activities ar 2]]></activitiesArabic>
        <amenities><![CDATA[amenities en 1
amenities en 2]]></amenities>
        <activities><![CDATA[test Activites en 1
test Activites en 2]]></activities>
        <beforeYouCome><![CDATA[before you come 1
before you come 2]]></beforeYouCome>
        <beforeYouComeArabic><![CDATA[befor you come 1 ar
before you come 2 ar]]></beforeYouComeArabic>
        <uploadImageComponent><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388,umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></uploadImageComponent>
        <uploadImageComponentArabic><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></uploadImageComponentArabic>
        <retrieveFromTwitter><![CDATA[{
  "tags": "Roze",
  "tagsImages": []
}]]></retrieveFromTwitter>
      </Event>
      <Event id="4149" key="4c7225c1-2d91-4f6f-99dd-47ddd212f2f2" parentID="1059" level="3" creatorID="0" sortOrder="2" createDate="2018-12-13T10:35:01" updateDate="2019-01-17T12:45:21" nodeName="Zwart 180 Degrees" urlName="zwart-180-degrees" path="-1,1058,1059,4149" isDoc="" nodeType="1057" creatorName="Amit" writerName="Amit" writerID="0" template="3072" nodeTypeAlias="Event" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <eventTags><![CDATA[["Roze"]]]></eventTags>
        <eventNameArabic><![CDATA[زوارة 180 دقريز]]></eventNameArabic>
        <eventName><![CDATA[Zwart 180 Degrees]]></eventName>
        <eventWebsite><![CDATA[www.abc.com]]></eventWebsite>
        <eventOrganizer><![CDATA[umb://document/e22d714f51734cbca2e10a5de645acb0]]></eventOrganizer>
        <eventStatus>33</eventStatus>
        <audiences>36</audiences>
        <eventOccurance><![CDATA[[{"key":"f218e34c-0df0-47dc-aaa1-2a11b5fa0e15","name":"Item 1","ncContentTypeAlias":"eventOccurances","eventOccurance":"{\r\n  \"city\": \"1083\",\r\n  \"venue\": \"1088\",\r\n  \"date\": {\r\n    \"from\": \"2019-01-26\",\r\n    \"to\": \"2019-01-29\"\r\n  },\r\n  \"time\": {\r\n    \"from\": \"00:34\",\r\n    \"to\": \"00:32\"\r\n  },\r\n  \"location\": \"loc1\"\r\n}"},{"key":"875d18d9-ee7c-497f-9cfc-203914a17040","name":"Item 2","ncContentTypeAlias":"eventOccurances","eventOccurance":"{\"city\":\"4140\",\"venue\":\"4148\",\"date\":{\"from\":\"2019-03-01\",\"to\":\"2019-03-05\"},\"time\":{\"from\":\"11:11\",\"to\":\"23:11\"},\"location\":\"https://www.google.com/maps/place/52.49196009794171,-7.390171085937482\"}"}]]]></eventOccurance>
        <tickets><![CDATA[{"ticketHasPrice":"single","isFreeTickets":false,"onlineTickets":false,"offlineTickets":"single","isAvailableAtEventGate":"single","isAvailableAtShops":false,"ticketPriceRange":{"priceStart":null},"singleTicketPrice":21}]]></tickets>
        <promotionDuration><![CDATA[2018-12-12T00:00:00,2018-12-15T23:59:59]]></promotionDuration>
      </Event>
    </Events>
    <Shops id="3075" key="202738d0-f1fb-458e-91e4-68df4fac0037" parentID="1058" level="2" creatorID="0" sortOrder="2" createDate="2018-11-30T15:01:40" updateDate="2018-11-30T15:01:40" nodeName="Shops" urlName="shops" path="-1,1058,3075" isDoc="" nodeType="3073" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Shops" isPublished="true">
  <umbracoNaviHide>0</umbracoNaviHide>
<Shop id="4119" key="679c66a1-2a85-4c91-8fe8-5368e6fb0950" parentID="3075" level="3" creatorID="0" sortOrder="0" createDate="2018-12-05T12:47:38" updateDate="2018-12-12T12:40:09" nodeName="Shop1" urlName="shop1" path="-1,1058,3075,4119" isDoc="" nodeType="4118" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Shop" isPublished="true"><umbracoNaviHide>0</umbracoNaviHide><shopLocationArabic><![CDATA[test ar]]></shopLocationArabic><shopNameArabic><![CDATA[test ar]]></shopNameArabic><shopName><![CDATA[test]]></shopName><logo><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></logo><shopLocation><![CDATA[test 2]]></shopLocation></Shop></Shops>
    <Entities id="3093" key="bd65c4d9-5566-49c6-b3bc-bf3ac8e7468b" parentID="1058" level="2" creatorID="0" sortOrder="3" createDate="2018-11-30T18:06:40" updateDate="2018-11-30T18:06:40" nodeName="Entities" urlName="entities" path="-1,1058,3093" isDoc="" nodeType="1055" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Entities" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <GovernmentEntities id="3095" key="f3074da7-e02f-4adf-80c8-79b6c9f603df" parentID="3093" level="3" creatorID="0" sortOrder="0" createDate="2018-11-30T18:18:58" updateDate="2018-11-30T18:18:58" nodeName="Government Entities" urlName="government-entities" path="-1,1058,3093,3095" isDoc="" nodeType="3090" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="GovernmentEntities" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <entityName><![CDATA[test]]></entityName>
        <GovernmentEntity id="3096" key="6713310e-7c80-48fb-967c-85ee4522a13c" parentID="3095" level="4" creatorID="0" sortOrder="0" createDate="2018-11-30T18:20:24" updateDate="2018-12-12T16:51:11" nodeName="GE1" urlName="ge1" path="-1,1058,3093,3095,3096" isDoc="" nodeType="3094" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="GovernmentEntity" isPublished="true">
          <umbracoNaviHide>0</umbracoNaviHide>
          <entityName><![CDATA[Gvt name]]></entityName>
          <descriptionArabic><![CDATA[<p>test description ar</p>]]></descriptionArabic>
          <entityNameArabic><![CDATA[gvt name ar]]></entityNameArabic>
          <entityWebsite><![CDATA[www.testsite.com]]></entityWebsite>
          <relatedVenues><![CDATA[umb://document/db1c86db13354549a7025d5f56ca9498]]></relatedVenues>
          <description><![CDATA[<p>test description</p>]]></description>
        </GovernmentEntity>
      </GovernmentEntities>
      <EventOrganizers id="3100" key="2e8163e4-0031-4c8e-8d3a-bbfb32784179" parentID="3093" level="3" creatorID="0" sortOrder="1" createDate="2018-11-30T18:47:43" updateDate="2018-11-30T18:47:43" nodeName="Event Orgnizers" urlName="event-orgnizers" path="-1,1058,3093,3100" isDoc="" nodeType="3091" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="EventOrganizers" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <Organizer id="3101" key="e22d714f-5173-4cbc-a2e1-0a5de645acb0" parentID="3100" level="4" creatorID="0" sortOrder="0" createDate="2018-11-30T19:19:26" updateDate="2018-12-12T15:24:49" nodeName="TIME Entertainment" urlName="time-entertainment" path="-1,1058,3093,3100,3101" isDoc="" nodeType="3097" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Organizer" isPublished="true">
          <umbracoNaviHide>0</umbracoNaviHide>
          <description><![CDATA[<p>Time Entertainment Description</p>]]></description>
          <organizerName><![CDATA[TIME Entertainment]]></organizerName>
          <organizerNameArabic><![CDATA[الوقت القابضة]]></organizerNameArabic>
          <entityWebsite><![CDATA[www.timeentertainments.com]]></entityWebsite>
          <contactInfo><![CDATA[[{"key":"776bd43f-71aa-4d46-9449-71d05c3b6a3c","name":"Item 1","ncContentTypeAlias":"contactInfo","email":"time@entertainments.com","mobileNumber":"78489874589","landline":"1235454879"}]]]></contactInfo>
          <descriptionArabic><![CDATA[<p>Time Entertainment Description Ar</p>]]></descriptionArabic>
        </Organizer>
      </EventOrganizers>
      <VenueOwners id="3104" key="35f8100a-423c-4698-a672-d68a099f1ab1" parentID="3093" level="3" creatorID="0" sortOrder="2" createDate="2018-12-01T16:03:00" updateDate="2018-12-01T16:03:00" nodeName="Venue Owners" urlName="venue-owners" path="-1,1058,3093,3104" isDoc="" nodeType="3092" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="VenueOwners" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <VenuesOwner id="3105" key="c017e08a-46cd-428b-95eb-7e12587f6574" parentID="3104" level="4" creatorID="0" sortOrder="0" createDate="2018-12-01T16:03:24" updateDate="2018-12-12T15:25:52" nodeName="Owner1" urlName="owner1" path="-1,1058,3093,3104,3105" isDoc="" nodeType="1054" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="VenuesOwner" isPublished="true">
          <umbracoNaviHide>0</umbracoNaviHide>
          <descriptionArabic><![CDATA[<p>Owner Description Ar</p>]]></descriptionArabic>
          <ownerName><![CDATA[Owner1]]></ownerName>
          <contactInfo><![CDATA[[{"key":"0e481c88-a261-4bf9-89ee-209c25c3603e","name":"Item 1","ncContentTypeAlias":"contactInfo","email":"owner@owner.com","mobileNumber":"4587895874","landline":"12345897845"}]]]></contactInfo>
          <entityWebsite><![CDATA[www.ownerSite.com]]></entityWebsite>
          <nameArabic><![CDATA[Owner1 Ar]]></nameArabic>
          <description><![CDATA[<p>Owner Description En</p>]]></description>
        </VenuesOwner>
      </VenueOwners>
    </Entities>
    <Venues id="4131" key="e802cf21-0cd6-4eed-b155-cf7e0ac02470" parentID="1058" level="2" creatorID="0" sortOrder="4" createDate="2018-12-05T14:46:21" updateDate="2018-12-05T14:47:43" nodeName="Venues" urlName="venues" path="-1,1058,4131" isDoc="" nodeType="4130" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Venues" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Venue id="1088" key="1de9650d-6844-4386-a820-f79efa3abd60" parentID="4131" level="3" creatorID="0" sortOrder="1" createDate="2018-11-28T19:02:07" updateDate="2018-12-06T15:48:19" nodeName="Riyadh International Convention &amp; Exhibition Center" urlName="riyadh-international-convention-exhibition-center" path="-1,1058,4131,1088" isDoc="" nodeType="1086" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Venue" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <venueOwner><![CDATA[umb://document/c017e08a46cd428b95eb7e12587f6574]]></venueOwner>
        <venueSpecialOccasion><![CDATA[[{"key":"1cdd2fc6-59df-4ce3-87a1-0009bdd698c2","name":"Item 1","ncContentTypeAlias":"specialOccasions","specialOccasion":"{\r\n  \"occasionDate\": \"2018-12-05\",\r\n  \"isHoliday\": false,\r\n  \"ocassionName\": \"Ramdan\",\r\n  \"openingHours\": \"15:34\",\r\n  \"closingHours\": \"15:45\"\r\n}"},{"key":"d6840ae7-f1ca-40fd-82a2-a4b5ab8dae90","name":"Item 2","ncContentTypeAlias":"specialOccasions","specialOccasion":"{\r\n  \"occasionDate\": \"2018-12-05\",\r\n  \"isHoliday\": true,\r\n  \"ocassionName\": \"\",\r\n  \"openingHours\": \"\",\r\n  \"closingHours\": \"\"\r\n}"}]]]></venueSpecialOccasion>
        <venueName><![CDATA[Riyadh International Convention & Exhibition Center]]></venueName>
        <tagsArabic><![CDATA[[]]]></tagsArabic>
        <venueNameArabic><![CDATA[مركز الرياض الدولي للمؤتمرات والمعارض]]></venueNameArabic>
        <venueOpeningTime><![CDATA[{
  "isAlwaysOpen": false,
  "isRestrictedVenue": true,
  "openingDays": {
    "s": true,
    "m": true,
    "t": true,
    "w": true,
    "th": true,
    "f": true,
    "sat": true
  },
  "closingDays": {
    "sat": false
  }
}]]></venueOpeningTime>
        <venueCity><![CDATA[1083]]></venueCity>
        <tags><![CDATA[[]]]></tags>
        <venueLocation><![CDATA[loc1]]></venueLocation>
      </Venue>
      <Venue id="2071" key="db1c86db-1335-4549-a702-5d5f56ca9498" parentID="4131" level="3" creatorID="0" sortOrder="2" createDate="2018-11-29T19:44:45" updateDate="2018-12-06T15:47:39" nodeName="King Fahad Stadium" urlName="king-fahad-stadium" path="-1,1058,4131,2071" isDoc="" nodeType="1086" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Venue" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <venueName><![CDATA[King Fahad Stadium]]></venueName>
        <tagsArabic><![CDATA[[]]]></tagsArabic>
        <venueNameArabic><![CDATA[استاد الملك فهد الدولي]]></venueNameArabic>
        <venueCity><![CDATA[1084]]></venueCity>
        <tags><![CDATA[[]]]></tags>
        <venueLocation><![CDATA[test5]]></venueLocation>
      </Venue>
      <Venue id="4148" key="2e10548e-b2ac-423e-9c84-5d2857c58284" parentID="4131" level="3" creatorID="0" sortOrder="3" createDate="2018-12-12T11:54:35" updateDate="2018-12-17T13:42:53" nodeName="Venue 2" urlName="venue-2" path="-1,1058,4131,4148" isDoc="" nodeType="1086" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Venue" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <floorMap><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></floorMap>
        <venueDescription><![CDATA[<p>venue description en</p>]]></venueDescription>
        <venueDescriptionArabic><![CDATA[<p>venue description ar</p>]]></venueDescriptionArabic>
        <venueContactNumber><![CDATA[4587985468]]></venueContactNumber>
        <venueOwner><![CDATA[umb://document/c017e08a46cd428b95eb7e12587f6574]]></venueOwner>
        <venueSpecialOccasion><![CDATA[[{"key":"8ad20ce7-0541-4f5b-966a-aed5f8124034","name":"Item 1","ncContentTypeAlias":"specialOccasions","specialOccasion":"{\"occasionDate\":\"2018-12-18\",\"isHoliday\":true,\"ocassionName\":\"\",\"openingHours\":\"01:23\",\"closingHours\":\"14:32\"}"}]]]></venueSpecialOccasion>
        <venueName><![CDATA[test venue en]]></venueName>
        <tagsArabic><![CDATA[["arab tag1","tag2"]]]></tagsArabic>
        <venueNameArabic><![CDATA[test venue ar]]></venueNameArabic>
        <venueOpeningTime><![CDATA[{
  "isAlwaysOpen": "single",
  "isRestrictedVenue": false,
  "openingDays": {
    "s": false,
    "m": true,
    "t": true,
    "w": true,
    "th": true,
    "f": false,
    "sat": false
  },
  "closingDays": {
    "s": true,
    "m": false,
    "t": false,
    "w": false,
    "th": false,
    "f": true,
    "sat": true
  }
}]]></venueOpeningTime>
        <venueRepresentativeArabic><![CDATA[test representative ar]]></venueRepresentativeArabic>
        <floorMapArabic><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></floorMapArabic>
        <venueCity><![CDATA[4140]]></venueCity>
        <venueRepresentative><![CDATA[test representative]]></venueRepresentative>
        <tags><![CDATA[["test tag 1","tag2"]]]></tags>
        <venueLocation><![CDATA[https://www.google.com/maps/place/52.49196009794171,-7.390171085937482]]></venueLocation>
      </Venue>
    </Venues>
    <Questions id="4133" key="44f9cb97-414e-4ca2-b809-78e7970e2766" parentID="1058" level="2" creatorID="0" sortOrder="5" createDate="2018-12-05T15:37:50" updateDate="2018-12-05T15:37:50" nodeName="Questions" urlName="questions" path="-1,1058,4133" isDoc="" nodeType="3084" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Questions" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Question id="4134" key="538b6338-162d-4491-b43b-58d51843ffa6" parentID="4133" level="3" creatorID="0" sortOrder="0" createDate="2018-12-05T15:44:02" updateDate="2018-12-05T15:44:02" nodeName="Q1" urlName="q1" path="-1,1058,4133,4134" isDoc="" nodeType="3085" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Question" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <questionTitleArabic><![CDATA[test]]></questionTitleArabic>
        <questionTitle><![CDATA[Test]]></questionTitle>
      </Question>
    </Questions>
    <Themes id="4142" key="0c960856-02da-4bb6-bdcf-984fea515766" parentID="1058" level="2" creatorID="0" sortOrder="6" createDate="2018-12-10T16:02:51" updateDate="2018-12-10T16:02:51" nodeName="Themes" urlName="themes" path="-1,1058,4142" isDoc="" nodeType="3081" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Themes" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <Theme id="4143" key="0127875e-e8bc-4d7e-a93d-4d7d249d978f" parentID="4142" level="3" creatorID="0" sortOrder="0" createDate="2018-12-10T16:03:02" updateDate="2018-12-17T11:48:54" nodeName="Theme1" urlName="theme1" path="-1,1058,4142,4143" isDoc="" nodeType="3082" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="Theme" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageContents><![CDATA[<p>Page contents english</p>]]></pageContents>
        <pageEvents><![CDATA[umb://document/4c7225c12d914f6f99dd47ddd212f2f2]]></pageEvents>
        <uploadBrochure><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></uploadBrochure>
        <pageContentsArabic><![CDATA[<p>Page contents arabic</p>]]></pageContentsArabic>
        <uploadBrochureArabic><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></uploadBrochureArabic>
        <pageBannerArabic><![CDATA[test banner arabic]]></pageBannerArabic>
        <pageBanner><![CDATA[umb://media/cb9ae4be439b4ed3bb9bc1ffe1d8c388]]></pageBanner>
      </Theme>
    </Themes>
    <About id="4144" key="8c48e027-8dd7-4a83-8e4b-84e666d86a04" parentID="1058" level="2" creatorID="0" sortOrder="7" createDate="2018-12-10T16:03:44" updateDate="2018-12-10T16:03:44" nodeName="About" urlName="about" path="-1,1058,4144" isDoc="" nodeType="4141" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="About" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
      <standardRTE id="4145" key="dc06e8ee-c8ac-47cc-8ab9-84b7a846020b" parentID="4144" level="3" creatorID="0" sortOrder="0" createDate="2018-12-10T16:05:01" updateDate="2018-12-10T16:05:01" nodeName="About Us" urlName="about-us" path="-1,1058,4144,4145" isDoc="" nodeType="3079" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="standardRTE" isPublished="true">
        <umbracoNaviHide>0</umbracoNaviHide>
        <pageTitle><![CDATA[About Us]]></pageTitle>
        <pageTitleArabic><![CDATA[About Us]]></pageTitleArabic>
      </standardRTE>
    </About>
    <SignIn id="4153" key="14ac4b58-6da0-4ea2-b620-40a436bfc65d" parentID="1058" level="2" creatorID="0" sortOrder="8" createDate="2018-12-20T19:15:10" updateDate="2018-12-20T19:17:01" nodeName="Sign In" urlName="sign-in" path="-1,1058,4153" isDoc="" nodeType="4152" creatorName="Amit" writerName="Amit" writerID="0" template="4154" nodeTypeAlias="SignIn" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </SignIn>
    <SignUp id="4156" key="4679933e-dacc-4752-a454-898e2434e4be" parentID="1058" level="2" creatorID="0" sortOrder="9" createDate="2018-12-20T19:19:34" updateDate="2018-12-20T19:19:34" nodeName="Sign Up" urlName="sign-up" path="-1,1058,4156" isDoc="" nodeType="4155" creatorName="Amit" writerName="Amit" writerID="0" template="3072" nodeTypeAlias="SignUp" isPublished="true">
      <umbracoNaviHide>0</umbracoNaviHide>
    </SignUp>
  </Home>
  <settings id="1081" key="3a79d466-0473-41ea-9dc2-91ccd55180a1" parentID="-1" level="1" creatorID="0" sortOrder="1" createDate="2018-11-28T18:06:47" updateDate="2018-11-28T18:06:47" nodeName="Settings" urlName="settings" path="-1,1081" isDoc="" nodeType="1076" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="settings" isPublished="true">
    <cities id="1082" key="e8bd75b5-003c-4648-b4e2-a56a6f6b0b4c" parentID="1081" level="2" creatorID="0" sortOrder="0" createDate="2018-11-28T18:06:58" updateDate="2018-11-28T18:06:58" nodeName="Cities" urlName="cities" path="-1,1081,1082" isDoc="" nodeType="1077" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="cities" isPublished="true">
      <city id="1083" key="453cbdb8-9a43-4469-aac3-5e212a260cd5" parentID="1082" level="3" creatorID="0" sortOrder="0" createDate="2018-11-28T18:35:39" updateDate="2018-12-06T11:52:13" nodeName="Jeddah" urlName="jeddah" path="-1,1081,1082,1083" isDoc="" nodeType="1078" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="city" isPublished="true">
        <nameEnglish><![CDATA[Jeddah]]></nameEnglish>
        <nameArabic><![CDATA[جدة]]></nameArabic>
      </city>
      <city id="1084" key="123b5495-9a18-4b63-aef9-337bdbfabf41" parentID="1082" level="3" creatorID="0" sortOrder="1" createDate="2018-11-28T18:35:53" updateDate="2018-12-06T11:52:26" nodeName="Riyadh" urlName="riyadh" path="-1,1081,1082,1084" isDoc="" nodeType="1078" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="city" isPublished="true">
        <nameEnglish><![CDATA[Riyadh]]></nameEnglish>
        <nameArabic><![CDATA[الرياض]]></nameArabic>
      </city>
      <city id="4140" key="00b0c6ed-e03e-4290-9aa7-4b443349c850" parentID="1082" level="3" creatorID="0" sortOrder="2" createDate="2018-12-06T16:51:30" updateDate="2018-12-06T16:51:30" nodeName="Abha" urlName="abha" path="-1,1081,1082,4140" isDoc="" nodeType="1078" creatorName="Amit" writerName="Amit" writerID="0" template="0" nodeTypeAlias="city" isPublished="true">
        <nameEnglish><![CDATA[Abha]]></nameEnglish>
        <nameArabic><![CDATA[أَبْـهَـا‎]]></nameArabic>
      </city>
    </cities>
  </settings>
</root>