<div class="container registrationForm">
    <md-card>
        <mad-card-title>
            <H2>SIGN IN</H2>
        </mad-card-title>
        <mad-card-content class="Register_form">
            <button g-login class="btn btn-block btn-social btn-google">
                <span class="fa fa-google"></span> Sign in with Google
            </button>
            <button fb-login class="btn btn-block btn-social btn-facebook">
                <span class="fa fa-facebook"></span> Sign in with Facebook
            </button>
            <button class="btn btn-block btn-social btn-twitter">
                <span class="fa fa-twitter"></span> Sign in with Twitter
            </button>
        </mad-card-content>
        <mad-card-footer>
            <div style="height: 100px">

            </div>
        </mad-card-footer>
        </mad-card>

        <!-- <md-input-container class="fullWidth">
            <label>User Name</label>
            <input type="text" required name="Name" ng-model="$ctrl.loginModel.username">
        </md-input-container>
        <md-input-container class="fullWidth">
            <label>Password</label>
            <input type="text" required name="Password" ng-model="$ctrl.loginModel.password">
        </md-input-container>
        <md-button type="button" ng-click="$ctrl.rememberMe()" class="md-raised">Register</md-button> -->
</div>